html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(199, 195, 250);
    color:rgb(50, 50, 50);
}

main {
    max-width: 40em;
    padding: 1em;
    margin: 1em auto;
    box-shadow: 5px 5px 22px 0px rgba(0,0,0,0.7);

}

pre {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: rgb(250,250,250);
    border: 2px solid rgb(50, 50, 50);
    border-top: 0;
}

textarea {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid rgb(50, 50, 50);
    display: block;
    width: 100%;
    height: 4rem;
    font-size: 1rem;
    padding: .5rem;
}

.spurtDiv {
    border: 2px solid rgb(50, 50, 50);
    padding: 0 1em;
    background-color: rgb(255, 255, 239);
    margin: 1em 0 0 0;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
 }